html {
    font-family: 'Ubuntu', sans-serif;
}

.currentLoc {
    font-size: 3rem;
    font-weight: extra-bold;
    color: green;
    text-shadow: 0 3rem .75rem black;
}

.weatherWrapper {
    font-size: 4rem;
    color: green;
    text-shadow: 0 3rem 0.75rem black;
}

.highAndLow {
    font-size: 1.5rem;
    color: green;
    text-shadow: 0 3rem 0.75rem black;
}
