html {
    font-family: 'Ubuntu', sans-serif;
}

.app-container {
    display: grid;
    grid-template-rows: [loc-start] 4rem [loc-end desc-start] 2rem [desc-end temp-start] 3rem [temp-end btn-start] 3rem [btn-end];
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: .75rem;
    max-width: 22rem;
    background-color: steelblue;
    color: blanchedalmond;
    border: .25rem solid black;
    border-radius: .75rem;
    margin: auto;
    padding: 1rem 2rem;
}

.location {
    grid-row: loc; 
    grid-column: span 4;
    font-size: 2.75rem;
    text-align: center;
}

.description {
    grid-row: desc;
    grid-column: span 4;
    font-size: 1.75rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temps {
    grid-row: temp;
    grid-column: span 4;
    font-size: 2.25rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.current-temp {
    font-size: 2.75rem;
    font-weight: bold;

}

.btns {
    grid-row: btn;
    grid-column: span 4; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn {
    border: .25rem solid black;
    background-color: black;
    color: whitesmoke;
    font-size: 2rem;
    font-weight: bold;
    transition: all .2s ease-in-out;
}

.active {
    background-color: steelblue;
}

.rounded-left {
    border-radius: .75rem 0 0 .75rem;
}

.rounded-right {
    border-radius: 0 .75rem .75rem 0;
}

@media only screen and (max-width: 768px) {
    .location {
        font-size: 1.25rem;
    }
    .temps {
        font-size: 1rem;
    }
    .current-temp {
        font-size: 1.25rem;
    }
    .btn {
        font-size: 1rem;
    }
}